<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<style>
/* The Modal (background) */
.searchModal {
display: none;
position: fixed;
z-index: 10;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
}
/* Modal Content/Box */
.search-modal-content {
    border-radius: 10px;
background-color: #fefefe;
margin: 0 auto;
    margin-top: 30px;
padding: 20px;
border: 1px solid #888;
width: 35%; /* Could be more or less, depending on screen size */
    height: 500px;
}
</style>
<input type="button" value="클릭" id="btn">  
<!--모달창 본문-->
<div id="modal" class="searchModal">
<div class="search-modal-content">
    <div class="searchbar">
        <select name="memberType">
            <option value="1">회원</option>
            <option value="3">트레이너</option>
        </select>
    </div>
<input type="button" value="닫기" onClick="closeModal();">  
</div>
</div>
    <script type="text/javascript"
		src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script>
    
$(function () {
    $("#btn").click(function(){
        $("#modal").show();
    })
});
    function closeModal() {
        $('.searchModal').hide();
    };
</script>
</body>
</html>