<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="kr.co.healthner.member.model.vo.Member" alias="member"/>
		<typeAlias type="kr.co.healthner.notice.model.vo.Notice" alias="notice"/>
		<typeAlias type="kr.co.healthner.vo.BoardVO" alias="board"/>
		<typeAlias type="kr.co.healthner.vo.BoardCommentVO" alias="comment"/>
		<typeAlias type="kr.co.healthner.vo.ReportVO" alias="report"/>

		<typeAlias type="kr.co.healthner.member.model.vo.AttendanceVO" alias="attend"/>
		<typeAlias type="kr.co.healthner.member.model.vo.AttendanceAvgtimeVO" alias="attendAvg"/>
		
		<typeAlias type="kr.co.healthner.trainer.model.vo.TrainerVO" alias="trainer"/>
		<typeAlias type="kr.co.healthner.trainer.model.vo.ProfessionalCategoryVO" alias="category"/>
		<typeAlias type="kr.co.healthner.trainer.model.vo.MemberMappingInfoVO" alias="memberInfo"/>
		<typeAlias type="kr.co.healthner.member.model.vo.MemberMappingVO" alias="memberMapping"/>
		<typeAlias type="kr.co.healthner.member.model.vo.MemberMappingVO" alias="mapping"/>
		<typeAlias type="kr.co.healthner.trainer.model.vo.BmiVO" alias="bmi"/>
		
		<typeAlias type="kr.co.healthner.member.model.vo.NutritionTableVO" alias="menu"/>
		<typeAlias type="kr.co.healthner.member.model.vo.EatLogVO" alias="eatLog"/>
		<typeAlias type="kr.co.healthner.member.model.vo.MenuCommentVO" alias="menuComment"/>
		
		<!-- 혜진_20200625_관리자 페이지_회원검색용 VO -->
		<typeAlias type="kr.co.healthner.admin.model.vo.MemberSearch" alias="memberSearch"/>
		
		<typeAlias type="kr.co.healthner.mail.model.vo.MailVO" alias="mail"/>
	</typeAliases>
</configuration>
